body{
    margin: 60px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 30px; 
    float: right;  
    display: flex; 
       }

.container {
    border: solid 2px darkgreen;
    display: flex;    
    padding: 10px;
    background-color: darkgreen;
    width: 420px;
}

.formacao{
    border: 2px solid lightgreen;
    background-color: lightgreen;
    }
.superior{
    border: 0 solid;
}
.html{
    border: 0 solid;
}
.css {
    border: 0 solid;
}

